<!DOCTYPE html><html><head><title>{{ page.title }}</title><meta charset="utf-8"><meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"><meta name="keywords" content="{{ page.keywords }}"><meta name="description" content="{{ page.description }}"><link href="{{ staticsUrl('web/v1/css/common.min.css') }}">;</head><body><div class="houselist"><div class="ul">{% asyncAll list in data %}<div class="li"><a href=""><p>{{list.id}}</p><span>gogogog</span></a></div>{% endall %}</div></div><script src="{{ staticsUrl('web/v1/js/common.min.js') }}"></script><script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?322b01787e83a3202d487d2e3dcc9152";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();</script></body></html>