html{
    // background-image: linear-gradient(90deg, #F7B676 0%, #F9824C 100%);
    background-color: #61faed;
}
body{
    width:100%;
    max-width: 414px;
    min-width: 375px;
    background-color: #f4f4f4;
    padding:0;
    margin: 0 auto;
    // background-image: linear-gradient(90deg, #F7B676 0%, #F9824C 100%);
    background-color: #61faed;
}
img{
    width: 100%;
}
.body{
    .huodong{
        .button-box{
            background-color: #ff3351;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            a{
                color:#fff;
                text-decoration: none;
            }
        }
        .user{
            background: url(https://statics.ishangzu.com/isz/4.0/img/huodong/inviteuser18/bg.jpg) no-repeat;
            background-size: cover;
            height: 570px;
            margin-top: -32px;
            .banner{
                width: 72%;
                margin: 0 auto;
            }
            .button{
                text-align: center;
                width: 80%;
                height: 32px;
                margin: 154px auto 0 auto;
                padding: 10px;
                background-color: #FF214F;
                border-radius: 32px;
                color: #fff;
                line-height: 34px;
                font-weight: 500;
                -webkit-animation: button 1s  linear infinite;
                &:before{ 
                    content: ' ';
                    width: 16px;
                    height: 16px;
                    background: url('https://statics.ishangzu.com/isz/4.0/img/huodong/inviteuser18/arrow.png') no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin-left: 156px;
                    margin-top: 9px;
                    display: inline-block;
                }
            }
            .button-on{
                display: none;
                position: fixed;
                left: 50%;
                margin-left: -43%;
                bottom: 1rem;
                z-index: 9;
            }
            .rule-step{
                width: 92%;
                margin: 16px auto 0;
            }
            .list-box{
                width: 96%;
                margin: 0 auto;
                background-color: #fff;
                margin-top: 10px;
                border-radius: 22px;
                min-height: 200px;
                padding-bottom: 30px;
                margin-bottom: 60px;
                .nav{
                    .title{
                        display: inline-block;
                        width: 46%;
                        height: 26px;
                        text-align: center;
                        font-size: 0.9rem;
                        font-weight: 400;
                        margin-top: 12px;
                        margin-bottom: 4px;
                        &:first-child{
                            &:before{//在元素内容前
                                content: ' ';
                                border-bottom: 3px #FF214F solid;
                                width: 26px;
                                height: 30px;
                                margin-left: 70px;
                                position: absolute;
                                display: none;
                            }
                        }
                        // &:last-child{
                        &:nth-child(2){
                            &:before{//在元素内容前
                                content: ' ';
                                border-bottom: 3px #FF214F solid;
                                width: 26px;
                                height: 30px;
                                margin-left: 80px;
                                position: absolute;
                                display: none;
                            }
                        }
                        
                    }
                    .on{
                        font-size:1rem;
                        font-weight: 500;
                        &:first-child,&:nth-child(2){
                            &:before{//在元素内容前
                                display: block;
                            }
                        }
                        
                    }
                    .msg{
                        &:after{ //在元素内容后
                            content: '邀请成功';
                            min-width: 48px;
                            position: absolute;
                            background-color: #FF214F;
                            padding: 2px 6px;
                            border-radius: 12px;
                            margin-top: -6px;
                            color: #fff;
                            font-weight: 400;
                            font-size: 12px;
                            box-shadow: 1px 1px 2px #888888;
                        }
                    }
                    .list-msg{
                        font-size: 12px;
                        text-align: center;
                        color: #979797;
                        background-color: #ffecf1;
                        padding: 4px;
                        display: none;
                    }
                    .list-msg-on{
                        display: block;
                    }
                }
                .user-list{
                    list-style-type: none;
                    padding: 0 10px;
                    li{
                        height: 60px;
                        
                    }
                }

                .toplist{
                    li{
                        padding-left: 20px;
                        margin-top: 10px;
                        .head-img{
                            display: inline-block;
                            width: 44px;
                            height: 44px;
                            border-radius: 44px;
                            float: left;
                            overflow: hidden;
                        }
                        .info{
                            display: inline-block;
                            font-size: 12px;
                            padding-left: 10px;
                            width: 80%;
                            height: 52px;
                            margin-left: -10px;
                            padding-left: 20px;
                            padding-top: 4px;
                            color: #adadad;
                            border-bottom: solid 1px #E5E5E5;
                            .l1{
                                .name{
                                    display: inline-block;
                                    font-size: 14px;
                                    color:#000;
                                    width: 126px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .reward{
                                    float: right;
                                    color:#FF214F;
                                    font-size: 13px;
                                    display: inline-block;
                                }
                            }
                            .l2{
                                
                                .msg{
                                    display: inline-block;
                                    // width: 170px;
                                    // overflow: hidden;
                                    float: left;
                                }
                                .friend{
                                    float: right;
                                    display: inline-block;
                                }
                            }
                        }
                        
                    }
                    .icon{
                        &:before{
                            content: ' ';
                            width: 16px;
                            height: 19px;
                            background: url(https://statics.ishangzu.com/isz/4.0/img/huodong/inviteuser18/icon01-10.png) no-repeat;
                            background-size: 100%;
                            position: absolute;
                            margin-left: -64px;
                            margin-top: 12px;
                            display: inline-block;
                        }
                        
                    }
                    .icon1{
                        &:before{
                            background-position: 0 0;
                        }
                    }
                    .icon2{
                        &:before{
                            background-position: 0 -23px;
                        }
                    }
                    .icon3{
                        &:before{
                            background-position: 0 -46px;
                        }
                    }
                    .icon4{
                        &:before{
                            background-position: 0 -69px;
                        }
                    }
                    .icon5{
                        &:before{
                            background-position: 0 -92px;
                        }
                    }
                    .icon6{
                        &:before{
                            background-position: 0 -115px;
                        }
                    }
                    .icon7{
                        &:before{
                            background-position: 0 -138px;
                        }
                    }
                    .icon8{
                        &:before{
                            background-position: 0 -160px;
                        }
                    }
                    .icon9{
                        &:before{
                            background-position: 0 -183px;
                        }
                    }
                    .icon10{
                        &:before{
                            background-position: 0 -206px;
                        }
                    }
                }
                .mylist{
                    display:none;
                    a{
                        color: #FF214F
                    }
                    .not-user{
                        font-size: 0.9rem;
                        text-align: center;
                        padding: 30px 0;
                        height: 100%;
                        span{
                            color:#FF214F;
                            text-decoration:underline;
                        }
                    }
                    .reward-msg{
                        font-size: 12px;
                        text-align: center;
                        height: 18px;
                        margin-bottom: -8px;
                        margin-top: 30px;
                        span{
                            color:#FF214F;
                        }
                    }
                    li{
                        padding-left: 4px;
                        margin-top: 10px;
                        .head-img{
                            display: inline-block;
                            width: 44px;
                            height: 44px;
                            border-radius: 44px;
                            float: left;
                        }
                        .info{
                            display: inline-table;
                            font-size: 12px;
                            padding-left: 10px;
                            width: 82%;
                            height: 52px;
                            margin-left: -10px;
                            padding-left: 20px;
                            padding-top: 4px;
                            color: #adadad;
                            border-bottom: solid 1px #E5E5E5;
                            .l1{
                                .name{
                                    display: inline-block;
                                    font-size: 14px;
                                    color:#000;
                                }
                                .reward-type{
                                    display: inline-block;
                                    font-size: 13px;
                                    float: right;
                                }
                                .reward-red{
                                    color: #FF214F;
                                }
                                .reward-green{
                                    color: #25D384;
                                }
                                .reward-yellow{
                                    color: #FF6B0B;
                                }
                                .reward-gray{
                                    color: #999999;
                                }
                                .reward-blue{
                                    color: #448AFF;
                                }
                            }
                            .l2{
                                display: inline-block;
                                width: 100%;
                                .date{
                                    display: inline-block;
                                }
                                .money{
                                    float: right;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            .footer{
                height:2rem;
                width: 100%;
                @media screen and(min-height:700px){
                    height:3rem;
                }
            }
        }
    }
    .head-nav{
        height: 21px;
        width: 92%;
        margin: 0 auto;
        padding-top: 10px;
        .logo{
            float: left;
            img{
                width: 64px;
                text-align: left;
            }
        }
        .rule{
            float: right;
            img{
                width:48px;
                height:20px;
                text-align: right;
            }
        }
    }
    
    .welcome-msg{
        display: none;
        background-color: #FFDEE5;
        color: #333;
        font-size: 12px;
        height: 24px;
        line-height: 25px;
        text-align: center;
        .icon{
            display: inline-block;
            img{
                width: 12px;
            }
        }
        .p{
            display: inline-block;
            span{
                color:#FF214F;
            }
        }
       
    }
}
.msg-box{
    
    .black-box{
        width: 100%;
        height: 100%;
        background-color: #000;
        position: fixed;
        left: 0;
        top: 0;
        opacity: .6;
        display: none;
        z-index: 90;
        // display: block;
    }
    .msgbox{
        display: none;
        z-index: 99;
    }
    .login-box{
        display: none;
        position: fixed;
        top: 50%;
        width: 322px;
        left: 50%;
        margin-left: -161px;
        height: 344px;
        margin-top: -172px;
        border-radius: 12px;
        .login{
            height: 256px;
            background-color: #ffffff;
            border-radius: 8px;
            .title{
                text-align: center;
                font-weight: 500;
                padding: 16px;
            }
            .input{
                text-align: center;
                margin-bottom: 8px;
                input{
                    border: solid 1px #DEDEDE;
                    width: 76%;
                    margin: 0 auto;
                    padding: 14px 18px;
                    font-size: 14px;
                    border-radius: 30px;
                    -webkit-appearance: none;
                    outline-style: none;
                    resize: none; 
                }
                a{
                    color: #FF214F;
                    position: absolute;
                    right: 36px;
                    padding-top: 12px;
                    opacity: 1;
                }
            }
            .error-msg{
                opacity: 0;
                width: 76%;
                color: #FF214F;
                margin: 0 auto 8px auto;
                min-height: 14px;
                font-size: 14px;
            }
            .button-login{
                width: 80%;
                background-color: #ff214f;
                margin: 0 auto;
                border-radius: 20px;
                height: 46px;
                color: #fff;
                font-weight: 500;
                text-align: center;
                line-height: 46px;
                font-size: 1.1rem;
                box-shadow: 1px 6px 10px #dddddd;
            }
        }
        .close{
            width: 100%;
            text-align: center;
            margin-top: 36px;
            img{
                width: 2.6rem;
            }
        }
    }
    .coupon-box{
        display: none;
        // display: block;
        position: fixed;
        top: 50%;
        width: 322px;
        left: 50%;
        margin-left: -161px;
        height: 460px;
        margin-top: -230px;
        border-radius: 12px;
        
        .login{
            height: 340px;
            background-color: #ffffff;
            border-radius: 8px;
            .title{
                text-align: center;
                font-weight: 500;
                padding: 16px;
            }
            .input{
                text-align: center;
                margin-bottom: 8px;
                input{
                    border: solid 1px #DEDEDE;
                    width: 76%;
                    margin: 0 auto;
                    padding: 14px 18px;
                    font-size: 14px;
                    border-radius: 20px;
                    -webkit-appearance: none;
                    outline-style: none;
                    resize: none; 
                }
                a{
                    color: #FF214F;
                    position: absolute;
                    right: 36px;
                    padding-top: 12px;
                    opacity: 1;
                }
            }
            .error-msg{
                opacity: 0;
                width: 76%;
                color: #FF214F;
                margin: 0 auto 8px auto;
                min-height: 14px;
                font-size: 14px;
            }
            .button-login{
                width: 80%;
                background-color: #ff214f;
                margin: 0 auto;
                border-radius: 20px;
                height: 46px;
                color: #fff;
                font-weight: 500;
                text-align: center;
                line-height: 46px;
                font-size: 1.1rem;
                box-shadow: 1px 6px 10px #dddddd;
            }
            .ps-msg{
                font-size: 12px;
                text-align: center;
                margin-top: 20px;
            }
        }
        .close{
            width: 100%;
            text-align: center;
            margin-top: 36px;
            img{
                width: 2.6rem;
            }
        }
    }

    .repeat-box,.tenant-box,.error-box,.refuse-box{
        // display: block;
        display: none;
        position: fixed;
        top: 50%;
        width: 322px;
        left: 50%;
        margin-left: -161px;
        height: 236px;
        margin-top: -118px;
        border-radius: 12px;
        .error{
            height: 236px;
            background-color: #ffffff;
            border-radius: 8px;
            .title{
                text-align: center;
                padding: 16px;
                color: #FF0030;
                font-size: 1.8rem;
                padding-top: 46px;
            }
            .body{
                text-align: center;
                font-size: 0.9rem;
            }
            .button{
                position: absolute;
                bottom: 28px;
                /* left: 0; */
                left: 50%;
                text-align: center;
                background-color: #ff0030;
                width: 260px;
                /* margin: 0 auto; */
                height: 46px;
                margin-left: -130px;
                color: #fff;
                font-weight: 500;
                line-height: 48px;
                font-size: 1.1rem;
                border-radius: 48px;
                box-shadow: 1px 1px 5px #888888;
            }
          
        }
        .close{
            width: 100%;
            text-align: center;
            margin-top: 36px;
            img{
                width: 2.6rem;
            }
        }
    }
    .rule-box{
        // display: block;
        display: none;
        position: fixed;
        top: 6%;
        background-color: #fff;
        width: 84%;
        left: 50%;
        margin-left: -42%;
        height: 82%;
        border-radius: 12px;
        background-color: white;
        .rule{
            padding: 30px 20px;
            height: 82%;
            overflow-x: hidden;
            overflow-y: scroll;
            .title{
                text-align: center;
                font-size: 1.4rem;
                margin: 0 0 20px 0;
                font-weight: 500;
                color: #FF0737;
            }
            .t{
                margin: 0;
                padding: 0;
                color: #FF0737;
                font-size: 14px;
                text-align: left;
            }
            .red{
                color: #FF0737;
            }
            p{
                min-height: 20px;
                margin: 0;
                padding: 0;
                font-size: 13px;
                text-align: left;
                color: #333333;
            }
        }
        .close{
            position: relative;
            text-align: center;
            height: 14%;
            width: 100%;
            margin-top: 42px;
            vertical-align: middle;
            display: inline-block;
            @media screen and(min-height:700px){
                top: 2rem;
            }
            img{
                width: 2.6rem;
            }
        }
    }
    .share-box{
        // display: block;
        display: none;
        position: fixed;
        top: 30px;
        background-color: #fff;
        width: 315px;
        height: 510px;
        overflow: hidden;
        left: 50%;
        margin-left: -157px;
        border-radius: 12px;
        @media screen and(min-height:700px){
            top: 10%;
        }
        @media screen and(max-height:550px){
            top: 2%;
        }
        &:after{ //在元素内容后
            content: ' ';
            background: url(https://statics.ishangzu.com/isz/4.0/img/huodong/inviteuser18/share-msg.png) no-repeat;
            background-size: 100%;
            width: 134px;
            height: 36px;
            position: absolute;
            left: 50%;
            margin-left: -67px;
            bottom: 0;
        }
        .close{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            
            img{
                width: 1rem;
            }
        }
    }
   
}

@-webkit-keyframes button {0%,36%,100%{-webkit-transform: scale(1, 1)}18%,54%{ -webkit-transform: scale(0.99, 0.96);}}
