body {
  background: url("//statics.ishangzu.com/isz/3.1/mobile/v3/assets/images/h5/20171221/bg.jpg?v=2") #dfd6cc;
}

.bg2 {
  background: url(//statics.ishangzu.com/isz/3.1/mobile/v3/assets/images/h5/20171221/bg2.png?v=2) 32px 32px #e7e7e7;
  background-size: 99px 87px;
}

.title {
  position: absolute;
  height: 100%;
  background: #fa6a65;
  font-size: 14px;
}
